.beerItemContainer2 {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    top: 93px;
    justify-content: space-around;
    background-color: #e0e0e0b8;
}

.containerImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    margin-left: 82px;
}

.pictureBeerItem {
    max-height: 450px;
    max-width: 450px;
}

.descriptionBeer ul {
    width: 190px;
    padding: 5px;
    white-space: pre-wrap;
}

.descriptionBeer li {
    list-style-type: none;
    /* border-top: 1px solid black; */
    background-color: white;
}

.bodyBeer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptionBeer {
    padding: 20px;
    margin-left: 82px;
    background-color: rgb(255 255 255 / 88%);
    border-radius: 5px;
}

.descriptionBeer h2 {
    text-align: center;
    margin-bottom: 2px;
}

.descriptionBeer h4 {
    text-align: center;
    font-style: italic;
    margin-bottom: 4px;
}

.tableau {
    top: 5px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: auto;
    margin: 98px auto;
    width: 70%;
}

.tableau ul {
    list-style-type: none;
}

/* .contain {
    position: relative;
    top: 93px;
    text-align: center;
    width: 100%;
} */

.price {
    width: 50px;
    padding: 5px;
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color: yellow;
}

.scrollUpBtn {
    position: fixed;
    width: 45px;
    top: 700px;
    right: 0;
    height: 50px;
    padding: 10px;
    font-size: 45px;
    background-color: none;
    cursor: pointer;
    z-index: 2000;
    margin: 0;
    transition: all 0.3s;
}

.scrollUpBtn:hover {
    transform: rotate(+360deg);
    color: #fed925;
}

@media screen and (max-width: 730px) {
    .descriptionBeer {
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .tableau {
        width: auto;
    }
    .containerImg {
        margin-left: 0px;
    }
}