.beerItemContainer2 {
    position: relative;
    top: 93px;
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 4fr 1fr;
    height: 100vh;
    grid-template-areas: "containerimg decriptionBeer" "tableau  tableau";
    background-color: #e0e0e0b8;
}

.containerImg {
    grid-area: containerimg;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.pictureBeerItem {
    max-height: 450px;
    max-width: 450px;
}

.descriptionBeer {
    background-color: rgba(194, 200, 200, 0.157);
    border-radius: 5px;
}

.descriptionBeer ul {
    width: 190px;
    padding: 5px;
    white-space: pre-wrap;
}

.descriptionBeer li {
    list-style-type: none;
    /* border-top: 1px solid black; */
    background-color: white;
}

.bodyBeer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptionBeer {
    grid-area: decriptionBeer;
    padding: 20px;
}

.descriptionBeer h2 {
    text-align: center;
    margin-bottom: 2px;
}

.descriptionBeer h4 {
    text-align: center;
    font-style: italic;
    margin-bottom: 4px;
}

.tableau {
    grid-area: tableau;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 400px;
    /* width: 80%; */
    margin: auto;
    /* height: 400px;
    /* padding: 20px; */
}

/* .contain {
    position: relative;
    top: 93px;
    text-align: center;
    width: 100%;
} */

.price {
    width: 50px;
    padding: 5px;
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color: yellow;
}

.scrollUpBtn {
    position: fixed;
    width: 45px;
    top: 700px;
    right: 0;
    height: 50px;
    padding: 10px;
    font-size: 45px;
    background-color: none;
    cursor: pointer;
    z-index: 2000;
    margin: 0;
    transition: all 0.3s;
}

.scrollUpBtn:hover {
    transform: rotate(+360deg);
    color: #fed925;
}