body, html {
  background-color: #ffc933;
  text-align: center;
}

.a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

/* .App h1 {
  text-align: center;
} */

.App table {
  margin: auto;
  border-collapse: collapse;
}

td {
  border: 1px solid grey;
  padding: 10px;
}

table p {
  text-align: center;
}

button {
  cursor: pointer;
}